* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.name_class{
    background-color: #ef4f4f;
    border: 2px solid #a9294f;
    text-align: center;
}

.btn_send{
    background-color: #949cdf;
    font-weight: 700;
}